body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: oxtail, serif;
    font-style: normal;
    font-weight: 400;
}

body p {
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 200;
}

/*********************************************************


				MAIN PAGE


*********************************************************/


.main-image {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/mommy.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    height: 375px;
}

.header h1 {
    text-align: center;
    padding-top: 35%;
    font-style: italic;
    font-weight: 700;
    font-size: 7em;
    color: #fff;
}

.momma-headline {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
}

form {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}

.mommy-hide {
    display: none;
}

#mommy-quote {
    width: 95%;
    margin: 0 auto;
}

.mommy {
    height: 100%;
    width: 50%;
    margin-top: 2%;
}


/*********************************************************


				PROFILE PAGE


*********************************************************/

#profile-page {
background-image: -webkit-linear-gradient(bottom, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
height: 1000px;
}

.profile-input {
	margin-top: 25%;
}

.profile-panel {
	margin-top: 25%;
	width: 80%;
}

.panel-heading {
	text-align: center;
}









/*********************************************************


				Responsiveness


*********************************************************/


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .header {
        height: 400px;
    }
    .header h1 {
        padding-top: 15%;
    }
    .mommy-hide {
        display: block;
    }
}
