body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: oxtail, serif;
    font-style: italic;
    font-weight: 400;
}

body p {
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 200;
}


/*********************************************************


                MAIN PAGE


*********************************************************/

.main-image {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/mommy.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    height: 375px;
}

.header h1 {
    text-align: center;
    padding-top: 35%;
    font-style: italic;
    font-weight: 700;
    font-size: 7em;
    color: #fff;
}

.momma-headline {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
}

.form-group {
    width: 75%;
    margin-top: 2%;
    margin-left: 12.5%;
}

.main-btn {
    margin-left: 15%;
}

.member-link {
    text-align: center;
}

.mommy-hide {
    display: none;
}

#mommy-quote {
    width: 95%;
    margin: 0 auto;
}

.mommy {
    height: 100%;
    width: 50%;
    margin-top: 2%;
}


/*********************************************************


                PROFILE PAGE


*********************************************************/

#profile-page {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 1000px;
}

.profile-header {
    text-align: center;
}

.profile-input {
    margin-top: 25%;
}

.profile-panel {
    margin-top: 25%;
    width: 80%;
}

.panel-heading {
    text-align: center;
}

.profile-section {
    margin-left: 10%;
}


/*********************************************************


                ASK A MOMMA PAGE


*********************************************************/

#ask-page {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 1000px;
}

#new-posts {
    height: 20px;
    width: 90%;
    margin-left: 5%;
}

hr {
    width: 90%;
}

.ask-heading {
    text-align: center;
    padding-top: 10%;
    font-style: italic;
}

.ask {
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    font-size: 1.5em;
}

.accordion-main {
    padding-top: 3%;
    width: 95%;
    margin-left: 2.5%;
}

.ask-btn {
    margin: 0 auto;
    display: block;
    background-color: #lightgrey;
}

.reply-btn {
    margin-left: 5%;
    margin-bottom: 2%;
}


/*********************************************************


                Around Me Page


*********************************************************/

.map-location {
    text-align: center;
    width: 80%;
    margin: 10% 0 0 10%;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}


/*********************************************************


                Responsiveness


*********************************************************/


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .header {
        height: 400px;
    }
    .header h1 {
        padding-top: 15%;
    }
    .mommy-hide {
        display: block;
    }
    .profile-input {
        margin-top: 20%;
    }
}
